PORT=3000
JWT_SECRET=your_jwt_secret_here

CITIZEN_SERVICE_URL=http://php-citizen:8000
TRAFFIC_SERVICE_URL=http://php-traffic:8001
ENV_SERVICE_URL=http://php-environment:8002
PYTHON_ML_URL=http://python-ml:5000

OAUTH_SERVER_URL=http://oauth-server:3002